button {
 
    background-color: rgb(56, 163, 163); /* Green */
    border: none;
    color: white;
    padding: 12px 28px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 80px;
    cursor: pointer;
    border-radius: 12px
  
    
  }