<body>
<p>Quote :{{quotess.sentence}}</p>
<p>The authour is {{quotess.authour}}</p>
<p>Submitted by: {{quotess.submittedby}}</p>
<p>Date added:{{quotess.dateadded|date}}</p>
<p>submitted :{{quotess.dateadded|dateCount}} days ago</p>
<button (click)='deleteQuote(true)'>Delete quote</button>
<!--<button class="btn btn-success" (click)='likeButtonClick()'>Like</button>
<button class="btn btn-danger" (click)='dislikeButtonClick()'>Dislike</button> -->
</body>


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}
</style>
</head>
<body>


<i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

<script>
function myFunction(x) {
  x.classList.toggle("fa-thumbs-down");
}
</script>

</body>
</html>