body{
background-image: url("https://wallpaperaccess.com/full/1236427.png");
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    line-height: 20px;
    }

